@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --font-family: "Kumbh Sans", sans-serif;
  --transition: all 0.15s ease;
  --header-bg: url(./assets/mobile/bg-pattern-header.svg);
  --max-width: 1190px;
  --small-max-width:  810px;
  --body-padding: 0 24px;

  /* Primary Colours */
  --color-violet: #5964E0;
  --color-light-violet:  #939BF4;
  --color-very-dark-blue: #19202D;
  --color-midnight: #121721;

  /* Secondary Colors */
  --color-white: #FFFFFF;
  --color-light-gray: #F4F6F8;
  --color-grey: #9DAEC2;
  --color-dark-grey: #6e8098;
}

/* Themes */
[data-color-theme="dark"] {
  --color-violet--dimmed-1: rgba(255, 255, 255, 0.1);
  --color-violet--dimmed-35: rgba(255, 255, 255, 0.35);
  --bg: var(--color-midnight);
  --card-bg: var(--color-very-dark-blue);
  --btn-text: var(--color-white);
  --body-text: var(--color-grey);
  --input-placeholder: rgba(255, 255, 255, 0.5);
  --input-text: var(--color-white);
  --input-checkbox: rgba(2255, 255, 255, 0.1);
}

[data-color-theme="light"] {
  --color-violet--dimmed-1:rgba(89, 100, 224,0.1);
  --color-violet--dimmed-35:rgba(89, 100, 224,0.35);
  --bg: var(--color-light-gray);
  --card-bg: var(--color-white);
  --btn-text: var(--color-violet);
  --body-text: var(--color-dark-grey);
  --input-placeholder: rgba(25, 32, 45, 0.5);
  --input-text: var(--color-very-dark-blue);
  --input-checkbox: rgba(25, 32, 45, 0.1);
}

/* Resets */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}


body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family);
  background-color: var(--bg);
  color: var(--body-text);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select, a {
  font: inherit;
  border: none;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 20px;
  line-height: 25px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

h3{
  font-size: 20px;
  line-height: 25px;
}

h4 {
  font-size: 14px;
  line-height: 17px;
}

p,
.text-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

p.text-body-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* Tablet */
@media (min-width: 768px) {
  :root {
    --header-bg: url(./assets/tablet/bg-pattern-header.svg);
    --max-width: 1190px;  
    --body-padding: 0 40px;
  }

  h1 {
    font-size: 28px;
    line-height: 35px;
  }

}

/* Desktop */
@media (min-width: 996px) {
  :root {
    --header-bg: url(./assets/desktop/bg-pattern-header.svg);
    --body-padding: 45px 40px 0;
    --body-padding: 0 40px ;
  }
}