@font-face {
  font-family: "Spartan";
  src: local("Spartan"),
   url(./fonts/Spartan-Bold-700.ttf) format("truetype");
}

@font-face {
  font-family: "Spartan";
  src: local("Spartan"),
   url(./fonts/Spartan-Medium-500.ttf) format("truetype");
}

:root {
  --color-purple-7C: #7c5dfa;
  --color-purple-92: #9277ff;
  --color-navy-1E: #1e2139;
  --color-navy-25: #252945;
  --color-navy-37: #373b53;
  --color-navy-37-06: rgba(55,59,83,0.06);
  --color-blue-DF: #dfe3fa;
  --color-blue-88: #888eb0;
  --color-blue-7E: #7e88c3;
  --color-black-0C: #0c0e16;
  --color-black-14: #141625;
  --color-red-EC: #ec5757;
  --color-red-FF: #ff9797;
  --color-white-F8: #f8f8fb;
  --color-white-F9: #f9fafe;
  --color-white: #ffffff;
  --color-green-06:  rgba(51,214,159, 0.06);
  --color-green:  #33d69f;
  --color-orange-06:  rgba(255,143,0, 0.06);
  --color-orange:  #ff8f00;

  --font-family: 'Spartan', sans-serif;
  --box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);

}

*, *:after, *:before {
  box-sizing: border-box;
}

/* Reset default*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, button, th, td, dialog, input, fieldset, select{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	/* font-size: 100%; */
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color:inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: #F2F2F2;
  color: var(--color-black-0C);
}

input, select {
  color: var(--color-black-0C);
  background: var(--color-white);
  border: 1px solid #dfe3fa;
  border-radius: 4px;
  padding: 16px 20px;
  caret-color: var(--color-purple-7C);
  width: 100%;
}

input::placeholder{
  color: #0C0E16;
  opacity: 0.4;
}

/* Typography */
.h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
}

.h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.625px;
}

.h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.8px;
}

.h4 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;  
}

.body1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;  
}

.body2 {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.229167px; 
}

/* Global Style */
.box {
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}