@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root {
  --color-purple-7C: #7C5DFA;
  --color-purple-92: #9277FF;
  --color-navy-1E: #1E2139;
  --color-navy-25: #252945;
  --color-navy-37: #373B53;
  --color-blue-DF: #DFE3FA;
  --color-blue-88: #888EB0;
  --color-blue-7E: #7E88C3;
  --color-black-0C: #0C0E16;
  --color-black-14: #141625;
  --color-red-EC: #EC5757;
  --color-red-FF: #FF9797;
  --color-white-F8: #F8F8FB;
  --color-white-F9: #F9FAFE;
  --color-white: #FFFFFF;

  --font-family: 'League Spartan', sans-serif;

}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: var(--font-family);
}



ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Typography */
h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.625px;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.8px;
}

h4 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;  
}

p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;  
}

small {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.229167px; 
}