@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root {
  --color-purple-7C: #7c5dfa;
  --color-purple-92: #9277ff;
  --color-navy-1E: #1e2139;
  --color-navy-25: #252945;
  --color-navy-37: #373b53;
  --color-navy-37-06: rgba(55,59,83,0.06);
  --color-blue-DF: #dfe3fa;
  --color-blue-88: #888eb0;
  --color-blue-7E: #7e88c3;
  --color-black-0C: #0c0e16;
  --color-black-14: #141625;
  --color-red-EC: #ec5757;
  --color-red-FF: #ff9797;
  --color-white-F8: #f8f8fb;
  --color-white-F9: #f9fafe;
  --color-white: #ffffff;
  --color-green-06:  rgba(51,214,159, 0.06);
  --color-green:  #33d69f;
  --color-orange-06:  rgba(255,143,0, 0.06);
  --color-orange:  #ff8f00;

  --font-family: 'League Spartan', sans-serif;

}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: var(--font-family);
  background-color: #F2F2F2;
}



ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color:inherit;
}

/* Typography */
.h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
}

.h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.625px;
}

.h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.8px;
}

.h4 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;  
}

.body1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;  
}

.body2 {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.229167px; 
}